@model E_Recarga.ViewModels.EmployeeVMs.EmployeeIndexViewModel


@{
    ViewBag.Title = "Trabalhadores";
}

<center>
    <br />
    <h1>Trabalhadores</h1>
    <br />
</center>
<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html
    .Grid(Model.EmployeesVM)
    .Build(columns =>
    {
        columns.Add(model => model.Employee.Name);
        columns.Add(model => model.Employee.Email).Titled("Email");
        columns.Add(model => model.Employee.PhoneNumber).Titled("Telefone");
        columns.Add(model => model.EmployeeType).Titled("Função");
        columns.Add(model => @Html.Raw(
            Html.ActionLink("Detalhes", "Details", new { id = model.Employee.Id }).ToString()) + " | " +
            Html.ActionLink("Editar", "Edit", new { id = model.Employee.Id }).ToString() + " | " +
            Html.ActionLink("Apagar", "Delete", new { id = model.Employee.Id }).ToString())
            .Titled("Ações").Encoded(false);

    })
    .Empty("Não existem dados")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.RowsPerPage = 5;
    })
)

