@model IQueryable <E_Recarga.Models.ERecargaModels.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Name).;
            columns.Add(model => model.Email);
            columns.Add(model => model.Company.Name);
        })
        .Empty("Não existem dados")
        .Filterable()
        .Sortable()
        .Pageable( pager =>
        {
            pager.PageSizes = new Dictionary<Int32, String > { { 0, "All" }, { 2, "2" }, { 4, "4" } };
            pager.ShowPageSizes = true;
            pager.PagesToDisplay = 3;
            pager.RowsPerPage = 2;
        })
)
