<form class="navbar-form">
    <div class="form-group">
        <br />
        <label>Pesquisar: </label>&nbsp
        <input id="GridSearch" type="text" class="form-control" placeholder="Preencher">
        <br />
        <br />
    </div>
</form>


@Html.AjaxGrid(Url.Action("IndexGrid"))

<script>
    document.getElementById('GridSearch').addEventListener('input', function() {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        grid.query.set('search', this.value);
        grid.reload();
    });
</script>

<script>
    window.onload = function() {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        grid.query.set('search', this.value);
        grid.reload();
    };
</script>