@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<br />
<p>
    <font size="+1">
        Plataforma estabelecida em 2019, foi já elegida pelos consumidores
        portugueses como Escolha do Consumidor na categoria de Plataforma
        Online, que contempla apenas projetos 100% digitais. A plataforma
        recebeu também vários outros prémios de reconhecimento nacional.
    </font>
</p>
<br />
<center>
    <img src="~/Images/qualidade-reconhecida.jpg" alt="Imagem" />
</center>


