@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />
<address>
    Rua Dr. Cândido Almeida<br />
    Vermin, Froscos 1234-567<br />
    <i class="glyphicon glyphicon-phone"></i>&nbsp
    235 123 123

</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@exemplo.pt">Suporte@exemplo.pt</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@exemplo.pt">Marketing@exemplo.pt</a>
</address>