@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../../Images/image10b.png); background-size:cover;">
    <div class="container-fluid">
        <div class="row">
            <center>
                <img src="~/Images/Logo-128.png" alt="Site Logo" style="height:128px; width: 128px" />&nbsp &nbsp
                <label>
                    <font size="+3.8" color="black"> E-Recarga </font>
                </label>
            </center>
        </div>
    </div>
    <br />
    <br />
    <div>
        <p class="lead">
            <font color="black">
                A plataforma E-Recarga permite encontrar os pontos de carregamento, para veículos eletrónicos, mais próximos e
                agendar a sua marcação.
            </font>
        </p>
        <p><a href='@Url.Action("Index", "Users")' class="btn btn-primary btn-lg">Pontos de Carregamento &raquo;</a></p>
    </div>
</div>

<div class="row" sstyle="height: 120px;">
    <div class="col-md-3">
        <h2>Bem Vindo!</h2>
        <div style="padding-left:20px">
            <iframe src="https://giphy.com/embed/3ov9k7btpadtSYGjy8" width="100%" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>

    <div class="col-md-5">
        <h2>Crescimento Elétrico</h2>
        <p>Novas regras da União Europeia entram em vigor a partir de 1º de janeiro e prometem acelerar a produção e vendas dos modelos elétricos.</p>
        <p>Confira os cinco lançamentos de veículos elétricos que devem chamar atenção do mercado em 2020.</p>
        <br />
        <p><a class="btn btn-success" href="https://olhardigital.com.br/carros-e-tecnologia/noticia/2020-vai-ser-o-ano-do-carro-eletrico-diz-industria/94771">Saber mais &raquo;</a></p>
    </div>

    <div class="col-md-4" style=" padding-left: 0px;  padding-right: 0px;">
        <h2>Entidades Parceiras</h2>
        <img src="~/Images/car-brands.png" width="100%" height="100%" class="img" align="middle"  frameBorder="0" allowFullScreen padding="20%">
        @*<img src="~/Images/car-brands.png" class="img-responsive" style="padding-top: 5px" align="middle">*@
    </div>
</div>