@{
    ViewBag.Title = "Home Page";
}

@*style="background-color: rgba(245,245,245, 0.7); background-image:url(../../Images/car_recharge.jpg); background-repeat:no-repeat;background-size: cover; background-position: center center;*@
<div class="jumbotron" style="background-image:url(../../Images/image10b.png); background-size:cover;">
    <div class="container-fluid">
        <div class="row">
            <center>
                <img src="~/Images/Logo-128.png" alt="Site Logo" style="height:128px; width: 128px" />&nbsp &nbsp
                <label>
                    <font size="+3.8" color="black">
                        E-Recarga
                    </font>
                </label>
            </center>
        </div>
    </div>
    <br />
    <br />
    <div>
        <p class="lead">
            A plataforma E-Recarga permite encontrar os pontos de carregamento, para veículos eletrónicos, mais próximos e
            agendar a sua marcação.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Pontos de Carregamento &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>