@model IEnumerable<E_Recarga.Models.ERecargaModels.Appointment>
@using E_Recarga.Models
@{
    ViewBag.Title = "AppointmentsRecords";
}

<h2>AppointmentsRecords</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Users")
</p>

@(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Company.Name.Trim()).Titled("Empresa");
                columns.Add(model => model.Station.ComercialName.Trim()).Titled("Estação");
                columns.Add(model => model.Pod.Identifier.ToString()).Titled("Posto");
                columns.Add(model => model.User.Name.Trim()).Titled("Utilizador");
                columns.Add(model => model.Cost.ToString()).Titled("Custo");
                columns.Add(model => model.Start).Titled("Início");
                columns.Add(model => model.End).Titled("Fim");
                columns.Add(model => Enum_Dictionnary.Translator[model.Status.Name]).Titled("Estado");
                columns.Add(model => @Html.Raw(Html.ActionLink("Detalhes", "Details","Appointments", new { id = model.Id },null).ToString()) + " | " + Html.ActionLink("Eliminar", "Delete", "Appointments", new { id = model.Id },null).ToString()).Titled("Ações").Encoded(false);
            })
            .Empty("Não existem dados")
            .Filterable()
            .Sortable()
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 3;
                pager.RowsPerPage = 5;
            })
)