@model IEnumerable<E_Recarga.Models.ERecargaModels.Price>

@{
    ViewBag.Title = "Tabela de Preços";
}

<center>
    <br />
    <h1>Tabela de Preços</h1>
    <br />
</center>
<hr />

<br />

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Station.ComercialName).Titled("Estação");
            columns.Add(model => model.Time).Titled("Horário");
            columns.Add(model => model.CostNormal.ToString()+" €").Titled("Custo Normal");
            columns.Add(model => model.CostUltra.ToString() + " €").Titled("Custo Ultra");
            columns.Add(model => @Html.ActionLink("Editar", "Edit", new { id = model.Id })).Titled("Ação");
        })
        .Empty("Não existem dados")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
            pager.ShowPageSizes = true;
            pager.PagesToDisplay = 3;
            pager.RowsPerPage = 5;
        })
)
